*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
}
.logo{
    display: flex;
    align-items: center;
    margin: 1em;
}
.logo img{
    width: 150px;
    height: 100px;
}
.header_menu{
    display: flex;
    align-items: center;
    height: 100px;
}
.header_menu a{
    margin: 1em;
    border-radius: 0.4em;
}
.header_menu a:link, a:visited{
    display: inline-block;
    background-color: #A9A9A9;
    color: #8b0000;
    font-weight: bolder;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none; 
}
.header_menu a:hover, a:active{
    background-color: #8b0000;
    color: white;
    font-weight: bolder;
}
main{
    margin: 3em;
}
.sinopse{
    text-align: justify;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}
.sinopse h2{
    margin: 1em 0em 1em 0em;
}
.sinopse p{
    margin: 1em;
}
.trailer{
    text-align: justify;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}
.trailer h2{
    margin: 1em 0em 1em 0em;
}
.curiosidades{
    text-align: justify;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}
.curiosidades h2{
    margin: 1em 0em 1em 0em;
}
.curiosidades h4{
    margin: 1em;
}
.curiosidades p{
    margin: 1em 0em 0em 2em;
}
.curiosidades li{
    margin: 1em 0em 0em 4em;
}
body{
    background-image: url("https://images.expothemes.com/game-of-thrones/images/game-of-thrones-windows-theme-30-hd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
}
.copyright{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin: 1em;
}
.copyright img{
    margin: 0.1em;
    width: 15px;
    height: 15px;
}
.copyright p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.footer_menu{
    display: flex;
    flex-direction: column;
    margin: 0em 0em 0em 15em;

}
.footer_logo{
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.footer_logo img{
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 1em 1em 1em 1.7em;
}
.footer_logo a{
    width: 0em;
    height: 0em;
}
.footer_logo #img1{
    margin: 1em 1em 0em 1.8em;
}
.footer_logo #img2{
    margin: 1em 0em 0em 5.3em;
}
.footer_logo #img3{
    margin: 1em 1em 1em 9.4em;
}
.footer_redes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer_redes p{
    margin: 1em 1em 1em 1em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.footer_redes #p1{
    margin: 1em 1em 1em 1.5em;
}